<h1>Edit Song</h1>

<%= render partial:"partials/errors" %>
<%= render partial:"partials/form" %>


<%= button_to "Delete Song", { action: "destroy", id: @song.id },
                                method: :delete,  data: { confirm: "Are you sure?" } %>