<h1>Index</h1>
<% @songs.each do |song| %>
    <div class="song">
      <ul><li><span><%= link_to song.title, song_path(song) %></span></li>
      </ul>

    </div>
<% end %>
<%= link_to "New", 'songs/new' %>
