<h1>Songs</h1>
<table>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.title, song %></td>
        <td><%= button_to "Delete", { action: :destroy, id: song.id }, method: :delete, data: { confirm: "Delete song?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>