<% @songs.each do |song| %>
    <div class="song">
      <ul><li><span><%= song.title %></span></li>
      </ul>
      <%= link_to "Delete", song, method: :delete, data: { confirm: "Really?" } %>
    </div>
<% end %>
